.accounts {
    border-collapse: collapse;
}

.accounts table {
    width: 75%;
    position: relative;
    left: 20%;
}

.accounts td {
    border: 1px solid #ddd;
    padding: 40px 8px 40px 8px;
    cursor: pointer;
    text-align: left;
}

.accounts th {
    padding: 50px 8px 30px 8px;
    border: 1px solid #ddd;
    text-align: left;
    background-color: #1663d6;
    color: white;
}