.btn-group {
    display: inline-block;
}

.btn-group button {
    display: block;
    cursor: pointer;
    width: 150px;
    height: 50px;
    text-align: center;
    margin-left: 500px;
}

.tbl-group {
    margin: auto;
}